html{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: white;
    margin: auto;
    padding: 0;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid gray;
}
.container-1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem ;
}
ul{
    list-style: none;
}
.container-1>ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
li{
    padding-bottom: 1rem;
}
li>a{
    text-decoration: none;
    color: black;
}
.start{
    color: white;
    background-color: #0061FF;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    border-radius: 10px;
    text-decoration: none;
}
.navbar>li:hover{
    border-bottom:2px groove black;
}
header{
    padding-top: 90px;
    background-color: #B4D0E7;

}
.container-2{
    max-width: 800px;
    margin: auto;
}
.container-2>h1{
    font-size: 60px;
    font-weight: 900;
}
.container-3{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    height: 260px;
}
.start a{
    padding: 30px 0 30px 0;
}
.jumbo{
    position: absolute;
    right: -100px;
    width: 600px;
}
.item{
    position: relative;
}
p{
    padding-bottom: 10px;
}
.cancel{
    padding-top: 20px;
}
.item>p{
    text-align: left;
    width: 40%;
}
.arrow{
    font-size: xx-large;
    position: relative;
    color: black;
    text-decoration: none;
}
main{
    max-width: 900px;
    padding-top: 150px;
    margin: auto;
    height: 100%;
}
.container-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-content: stretch;
    flex-grow: 1 1 auto;
    height: 100%;
}
h2{
    margin-bottom: 3rem;
}
label{
    padding-right: 3rem;
}
.colonna{
    max-width: 285px;
    min-width: 235px;
}
.tipo{
    border:1px solid #DBDBDD;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
}
.offerta{
    border:1px solid #DBDBDD;
    padding: 1rem;
    height: 100%;
}
.dettagli{
    color: grey;
    padding-bottom: 3rem;
}
.offerta>ul{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.offerta>ul{
    margin-bottom: 2.5rem;
}
.offerta>p{
    margin-top: 1rem;
}
.offerta>hr{
    border: 1px solid lightgray;
    background-color: lightgray;
    margin:  2rem 0 2rem 0 ;
    width: 40px;
}
.fa-check{
    color: #0061FF;
}
section>ul li:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 0 0 -30px;
    color: #0061FF;
}
.dettagli-2>ul{
    width: 180px;
    margin: auto;
}
.special>li{
    display: flex;
    flex-direction: row;
}
.special>li>i{
    margin-right: 10px;
}
.big{
    margin-top:80px ;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.big-a>strong{
    line-height: 3rem;
}
.big-b{
    min-width: 200px;
}
.photo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
    gap: 2rem;
}
.partner{
    width: 27vw;
}
.partner-p>h2{
    margin-bottom: 1rem;
}
.partner-p>a , .prova-link{
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid gray;
}
.operazioni{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 2rem;
    max-width: 900px;
    flex-wrap: wrap;
}
.item-ope{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    flex-wrap: wrap;

}
.item-ope>img{
    width: 70%;
}
h1>main{
    padding: 400rem 0 2rem 0;
}
.team{
    margin: 5rem 0;
}
.team>h1{
    font-size: xx-large;
    margin-bottom: 2rem;
}
.sponsor-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    margin: auto;
}
.square-container {
    position: relative;
    width:calc(100% / 3);
} 
.square-container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
} 
.square{
    position: absolute;
    width:50%;
} 
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
} 
.sponsor {
    position: absolute;
    width: 100%;
    padding: 1rem;
}
.green{
    background-color: #A2D39B;
}
.brown{
    background-color: #61082B;
    right: 0;
}
.blue{
    background-color: #0093CE;
    bottom: 0;
}
.red{
    background-color: #FF1C1C;
    bottom: 0;
    right: 0;
}
.sponsor path{
    fill: #fff;
}
.center{
    background-color: rgba(226, 226, 226, 0.471);
    overflow-y: auto;
    padding: 2rem;
}
.center>hr{
    border: 1px solid gray;
    background-color: gray;
    margin:  3rem 0 3rem 0 ;
    max-width: 30%;
}
.center>img{
    width: 66%;
}
.red-b{
    background-color: #D5001F;
}
.blue-b{
    background-color: #B4D0E7;
    right: 0;
}
.blue-c{
    background-color: #0D2481;
    bottom: 0;
}
.yellow{
    background-color: #FFD830;
    bottom: 0;
    right: 0;
}
.prova-container{
    background-color: #b4d0e7;
    height: 35vh;
    line-height: 35vh;
}
.prova{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#titolo-prova{
    color: #61082B;
    font-size: xx-large;
}
.faq{
    max-width: 1000px;
    margin: auto;
    line-height: 7rem;
}
.faq>h3>i{
    position: relative;
    left: 200px;
}
